.idea/
node_modules/

.DS_Store
.eslintcache

packages/*/LICENSE
packages/*/README.md
packages/*/standard.js
!packages/*-standard/standard.js
packages/*/better-order.js
!packages/stylelint-standard/better-order.js
packages/*/vue.js
!packages/stylelint-vue/vue.js
packages/*/scss.js
!packages/stylelint-scss/scss.js
packages/*/vue-scss.js
!packages/stylelint-vue-scss/vue-scss.js

packages/*/node.js
!packages/eslint-config-node/node.js
packages/*/ts.js
!packages/eslint-config-ts/ts.js
packages/*/react.js
!packages/eslint-config-react/react.js
packages/*/react-native.js
!packages/eslint-config-react-native/react-native.js
packages/*/vue.js
!packages/eslint-config-vue/vue.js
packages/*/unsorted.js
!packages/eslint-config-unsorted/unsorted.js
packages/*/vitest.js
!packages/eslint-config-vitest/vitest.js
packages/*/nuxt.js
!packages/eslint-config-nuxt/nuxt.js
packages/*/vue-ts.js
!packages/eslint-config-vue-ts/vue-ts.js