name: Release packages

on:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint workspace
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      timeout-minutes: 5
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Setup pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      with:
        version: 10.24.0

    - name: Install nodejs
      timeout-minutes: 5
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: 24.11.1
        cache: pnpm

    - name: Install dependencies
      timeout-minutes: 5
      run: pnpm install --frozen-lockfile

    - name: Lint repository
      timeout-minutes: 5
      run: pnpm -r lint

  release:
    name: Version and publish
    runs-on: ubuntu-latest
    needs:
    - lint
    permissions:
      contents: write
      id-token: write
      pull-requests: write

    steps:
    - name: Checkout repository
      timeout-minutes: 5
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Setup pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      with:
        version: 10.24.0

    - name: Install nodejs
      timeout-minutes: 5
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: 24.11.1
        cache: pnpm
        registry-url: https://registry.npmjs.org

    - name: Install dependencies
      timeout-minutes: 5
      run: pnpm install --frozen-lockfile

    - name: Create release PR or publish
      id: changesets
      uses: changesets/action@v1
      with:
        version: pnpm version-packages
        publish: pnpm release
        commit: ":memo: Release packages"
        title: ":memo: release packages"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_CONFIG_PROVENANCE: true
